.despesa-form input {
    display: inline-block;
    text-align: left;
    margin: 0 0.3rem 0 0;
    box-sizing: border-box;
    font-size: 1.2em;
}
.despesa-form label {
  display: flex;
  align-items: center;
  gap: 0.1rem; /* separació entre checkbox i text */
}